<div class="enviroment-tabs">
    <ul class="enviroment-menu">
        <li class="dev-menu-item">
            <a href="javascript:void(0)" id="dev-tab" class="active">Development</a>
        </li>
        <li class="stage-menu-item">
            <a href="javascript:void(0)" id="stage-tab">Staging</a>
        </li>
        <li class="qa-menu-item">
            <a href="javascript:void(0)" id="qa-tab">QA</a>
        </li>
        <li class="prod-menu-item">
            <a href="javascript:void(0)" id="prod-tab">Production</a>
        </li>
    </ul>
</div>
<div class="l-col l-col-1 left-side-nav">
            <div class="sidebar-nav">
                <div class="icon-list">
                    <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="active">
                            <a href="#index" role="tab" data-toggle="tab">
                                <span class="icon icon-stack"></span>
                                <span class="tab-text">Objects</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#new" role="tab" data-toggle="tab">
                                <span class="icon icon-plus"></span>
                                <span class="tab-text">Create Objects</span>
                            </a>
                        </li>
                        <li class="object-action" style="display: none;">
                            <a href="#edit" role="tab" data-toggle="tab">
                                <span class="icon icon-pencil"></span>
                                <span class="tab-text">Edit Object</span>
                            </a>
                        </li>
                        <li class="object-action" style="display: none;">
                            <a href="#sync" role="tab" data-toggle="tab">
                                <span class="icon icon-spinner"></span>
                                <span class="tab-text">sync</span>
                            </a>
                        </li>
                        <li class="object-action" style="display: none;">
                            <a href="#backup" role="tab" data-toggle="tab">
                                <span class="icon icon-cloud-upload"></span>
                                <span class="tab-text">backup</span>
                            </a>
                        </li>
                        <li class="object-action" style="display: none;">
                            <a href="#clone" role="tab" data-toggle="tab">
                                <span class="icon icon-cube4"></span>
                                <span class="tab-text">clone</span>
                            </a>
                        </li>
                        <li class="object-action" style="display: none;">
                            <a href="#delete" role="tab" data-toggle="tab">
                                <span class="icon icon-close"></span>
                                <span class="tab-text">delete</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-col l-col-2 side-forms">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="index">
                    <div class="form-wrapper">
                        <div class="search-form">
                            <div class="select-search">
                                <div class="ember-select-list">
                                    <select id="ember329" class="ember-view ember-select">
                                      <option value="sites">Sites</option>
                                      <option value="other">Other</option>
                                    </select>
                                </div>
                                {{input type="text" placeholder="Search" size="25"}}
                                <!--{{input type="submit" value="search" class="button btn btn-primary full-input"}}-->
                            </div>
                        </div>
                    </div>
                    <p>To add components, drag to canvas on the right.</p>
                    <div class="search-results">
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                          <div class="logo-image">
                                <img class="image drupal" src="images/logo-drupal.png"/>
                            </div>
                            <span class="object-title" data-role="jnl-example-1">jnl-example-1</span>
                            <span class="version"><span class="technology">Drupal</span> (v.<span class="v-number">7.22</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-drupal.png"/>
                            </div>
                            <span class="object-title" data-role="jnl-example-2">jnl-example-2</span>
                            <span class="version"><span class="technology">Drupal</span> (v.<span class="v-number">7.22</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                          <div class="logo-image">
                                <img class="image drupal" src="images/logo-drupal.png"/>
                            </div>
                            <span class="object-title" data-role="jnl-example-3">jnl-example-3</span>
                            <span class="version"><span class="technology">Drupal</span> (v.<span class="v-number">7.22</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                              <img class="image drupal" src="images/logo-varnish.png"/>
                            </div>
                            <span class="object-title" data-role="prod01">prod01</span>
                            <span class="version"><span class="technology">Varnish</span> (v.<span class="v-number">4.0.1</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-varnish.png"/>
                            </div>
                            <span class="object-title" data-role="prod02">prod02</span>
                            <span class="version"><span class="technology">Varnish</span> (v.<span class="v-number">4.0.1</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-varnish.png"/>
                            </div>
                            <span class="object-title" data-role="prod03">prod03</span>
                            <span class="version"><span class="technology">Varnish</span> (v.<span class="v-number">4.0.1</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-memcached.png"/>
                            </div>
                            <span class="object-title" data-role="prod04">prod04</span>
                            <span class="version"><span class="technology">Memcached</span> (v.<span class="v-number">1.4.20</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-memcached.png"/>
                            </div>
                            <span class="object-title" data-role="prod05">prod05</span>
                            <span class="version"><span class="technology">Memcached</span> (v.<span class="v-number">1.4.20</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-memcached.png"/>
                            </div>
                            <span class="object-title" data-role="prod06">prod06</span>
                            <span class="version"><span class="technology">Memcached</span> (v.<span class="v-number">1.4.20</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-drupal.png"/>
                            </div>
                            <span class="object-title" data-role="jnl-example-4">jnl-example-4</span>
                            <span class="version"><span class="technology">Drupal</span> (v.<span class="v-number">7.22</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-drupal.png"/>
                            </div>
                            <span class="object-title" data-role="jnl-example-5">jnl-example-5</span>
                            <span class="version"><span class="technology">Drupal</span> (v.<span class="v-number">7.22</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                        <div class="search-result-wrapper">
                        <div class="search-result draggable">
                            <div class="logo-image">
                                <img class="image drupal" src="images/logo-drupal.png"/>
                            </div>
                            <span class="object-title" data-role="jnl-example-6">jnl-example-6</span>
                            <span class="version"><span class="technology">Drupal</span> (v.<span class="v-number">7.22</span>)</span>
                            <span class="icon icon-move"></span>
                            <span class="jCode" style="display: none;">jAbc</span>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="new">
                    <div class="form-wrapper">
                        <div class="form-input-label">
                            <label for="new-domain">Title</label>
                            {{input type="text" class="full-input" id="new-domain" placeholder="Title"}}
                        </div>
                        <div class="ember-select-list form-input-label">
                            <label for="new-tech">Technology</label>
                            <select id="new-tech" class="ember-view ember-select version-new-select">
                              <option value="Drupal">Drupal</option>
                              <option value="Varnish">Varnish</option>
                              <option value="memcached">memcached</option>
                            </select>
                        </div>
                        <div class="form-input-label">
                            <label for="new-version">version</label>
                            {{input type="text" class="full-input" id="new-version" placeholder="7.22"}}
                        </div>
                        <div class="form-input-label">
                            <label for="new-jcode">jCode</label>
                            {{input type="text" class="full-input" id="new-jcode" placeholder="jCode"}}
                        </div>
                        {{input type="button" class="button btn btn-primary full-input" value="Submit"}}
                    </div>
                </div>
                <div class="tab-pane fade" id="edit">
                    <div class="form-wrapper">
                        <div class="form-input-label">
                            <label for="edit-domain">Title</label>
                            {{input type="text" class="full-input" id="edit-domain" placeholder="Title"}}
                        </div>
                        <div class="ember-select-list form-input-label">
                            <label for="edit-tech">Technology</label>
                            <select id="edit-tech" class="ember-view ember-select version-edit-select">
                              <option value="drupal">drupal</option>
                              <option value="varnish">varnish</option>
                              <option value="memcached">memcached</option>
                            </select>
                        </div>
                        <div class="form-input-label">
                            <label for="edit-version">version</label>
                            {{input type="text" class="full-input" id="edit-version" placeholder="7.22"}}
                        </div>
                        <div class="form-input-label">
                            <label for="edit-jcode">jCode</label>
                            {{input type="text" class="full-input" id="edit-jcode" placeholder="jCode"}}
                        </div>
                        {{input type="button" class="button btn btn-primary full-input" value="Submit"}}
                    </div>
                </div>
                <div class="tab-pane fade" id="sync">
                    <p class="orgin-txt">Origin</p>
                    <h4 class="sync-title">Development</h4>
                    <span class="icon icon-arrow"></span>
                    <label class="enviro-select" for="enviro-select">Selected Destination</label>
                    <div class="ember-select-list">
                        <select id="enviro-select" class="ember-view ember-select">
                          <option value="development" disabled>Development</option>
                          <option value="staging">Staging</option>
                          <option value="qa">QA</option>
                          <option value="production">Production</option>
                        </select>
                    </div>
                    <div class="number-obj-selected">
                        <span class="obj-number">1</span>
                        <span class="obj-number-txt">Object(s) have been selected for syncing</span>
                    </div>

                        <!--{{input type="button" class="button btn btn-primary full-input" value="Cancel"}}-->
                        {{input type="button" class="button btn btn-primary full-input" value="Sync Selected"}}
                        <div id="sync-progressbar" style="display:none;"><div class="progress-label">Syncing...</div>
                        </div>
                </div>
                <div class="tab-pane fade" id="backup">
                    {{input type="button" class="button btn btn-primary full-input backup-btn" value="backup"}}
                    <div id="backup-progressbar" style="display:none;"><div class="progress-label">Creating Backup...</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="clone">
                    {{input type="button" class="button btn btn-primary full-input clone-btn" value="clone"}}
                    <div id="clone-progressbar" style="display:none;"><div class="progress-label">Cloning...</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="delete">
                    <div id="delete-dialog" title="Delete Object">
                      <div class="delete-progress-label">Starting deletion...</div>
                      <div id="delete-progressbar"></div>
                    </div>
                    {{input type="button" class="button btn btn-primary full-input delete-btn" value="delete from server"}}
                    <div id="delete-progressbar" style="display:none;"><div class="progress-label">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-col l-col-3 main-content">
          <div class="btn-group view-buttons" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="options" id="canvas-radio" checked> Canvas View </input>
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="options" id="list-radio"> List View </input>
              </label>
          </div>
          <div class="main-content-outlet">
<div class="well drop-zone canvas-view active development-canvas" id="dev-canvas">

</div>
<div class="well canvas-view active staging-canvas" id="stage-canvas" style="display:none;">

</div>
<div class="well canvas-view active qa-canvas" id="qa-canvas" style="display:none;">

</div>
<div class="well canvas-view active production-canvas" id="prod-canvas" style="display:none;">

</div>

<div class="well list-view droppable-list development-list" id="dev-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>

<div class="well list-view staging-list" id="stage-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>

<div class="well list-view qa-list" id="qa-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>

<div class="well list-view production-list" id="prod-list-view" style="display: none;">
  <ul class="list-view-list">

  </ul>
</div>
</div>
</div>
